.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 43px;
  padding-inline: 32px;
  color: var(--color-light);
  font-weight: 500;
  background-color: var(--color-accent);
  border-radius: 8px;
  &:hover {
    background: rgba(21, 114, 211, 0.8);
    cursor: pointer;
    transform: scale(1.03);
  }

  &--light {
    height: 42px;
    color: var(--color-accent);
    background: rgba(21, 114, 211, 0.1);
    font-size: 14px;
    text-transform: uppercase;
    &:hover {
      background: rgba(21, 114, 211, 0.3);
    }
  }
  &--arrow {
    height: 40px;
    font-size: 14px;
    &::after {
      content: url("./../images/car-card/arrow-right.svg");
      height: 20px;
      aspect-ratio: 1;
    }
  }
  &--arrow-light {
    height: 48px;
    padding-inline: 34px;
    font-size: 14px;
    color: #4e4e4e;
    background: inherit;
    border: 1px solid rgb(224, 224, 224);
    &::after {
      content: url("./../images/icons/arrow-right.svg");
      height: 20px;
      aspect-ratio: 1;
    }
    &:hover {
      background: rgba(21, 114, 211, 0.1);
    }
  }
}
