.header {
  background: url("./../images/header/bg.png") no-repeat top / contain;
  background-position: calc(50% + 452px) 50%;
  background-size: auto 100%;
  @include mobile {
    background-image: url("./../images/header/bg-transparent.svg");
    background-position: right;
  }
  &__inner {
    padding-top: clamp(20px, 3.6vw, 40px);
    padding-bottom: clamp(20px, 4.3vw, 48px);
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    &:not(:last-child) {
      margin-bottom: clamp(60px, 14vw, 150px);
    }
  }

  &__menu {
    &-list {
      display: flex;
      column-gap: 40px;
    }

    &-item {
    }

    &-link {
      font-weight: 500;

      &:hover {
        color: var(--color-accent);
      }
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    column-gap: 24px;
    font-weight: 500;
    a:first-child:hover {
      color: var(--color-accent);
    }
  }

  &__button {
  }

  &__burger-button {
  }

  &__content {
    display: grid;
    gap: 26px;
    max-width: 390px;
    &:not(:last-child) {
      margin-bottom: clamp(60px, 18vw, 201px);
    }
    &-title {
      span {
        position: relative;
      }
      span::after {
        content: url("./../images/header/underline.svg");
        position: absolute;
        left: -1%;
        bottom: -25%;
      }
    }

    &-text {
      font-size: 18px !important;
      color: #272727;
    }

    &-apps {
      padding-top: 7px;
      display: flex;
      gap: 12px;
      img:hover {
        transform: scale(1.03);
      }
    }
  }

  &__form {
  }
}
