.how-it-work {
  padding: clamp(40px, 7.7vw, 86px) 0;

  &__body {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &:not(:last-child) {
      margin-bottom: clamp(60px, 13.8vw, 154px);
    }
  }
  &__button {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: clamp(40px, 6.9vw, 69px);
    }
  }

  &__steps {
    display: flex;
    gap: clamp(40px, 8.7vw, 110px);
    @include mobile {
      gap: 20px;
    }
    @include mobile-s {
      flex-direction: column;
    }
  }

  &__step {
    flex: 0 1 33.3333%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 202px;
    &-image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 112px;
      aspect-ratio: 1;
      background-color: #ecf5ff;
      border-radius: 16px;
      &:not(:last-child) {
        margin-bottom: clamp(15px, 4vw, 36px);
      }
    }

    &-title {
      font-size: 20px;
      &:not(:last-child) {
        margin-bottom: clamp(15px, 3.2vw, 17px);
      }
      @include mobile {
        font-size: 18px;
        margin-bottom: 15px;
      }
    }

    &-text {
      font-size: 14px;
      color: #6d6d6d;
    }
  }

  &__brands {
    max-width: 1640px;
    &-image {
      width: auto !important;
      padding: 0px 48px;
    }
  }
}
