.popular-deals {
  padding-top: clamp(40px, 7.3vw, 84px);
  padding-bottom: clamp(40px, 7.3vw, 83px);
  padding-left: 4px;
  padding-right: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__button {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__title {
    text-align: center;
    &:not(:last-child) {
      margin-bottom: clamp(10px, 3.2vw, 23px);
    }
  }

  &__list {
    &:not(:last-child) {
      margin-bottom: clamp(10px, 4.4vw, 34px);
    }
  }

  &__item {
    padding: 30px 16px;
  }
}
