:root {
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-accent: #1572d3;

  --font-family-base: "Poppins", sans-serif;

  --container-width: 1120px;
  --container-padding-x: 20px;

  --transition-duration: 0.2s;
}
